{:app {:status-check {:delay-secs 1800
                      :url "https://spam-and-eggs.herokuapp.com/api/_status"}}
 :data
 {:female-first-names [[36 "Mary"]
                       [15 "Patricia"]
                       [14 "Jennifer"]
                       [14 "Elizabeth"]
                       [14 "Linda"]
                       [14 "Barbara"]
                       [11 "Susan"]
                       [10 "Margaret"]
                       [10 "Jessica"]
                       [10 "Dorothy"]
                       [9 "Sarah"]
                       [9 "Karen"]
                       [9 "Nancy"]
                       [9 "Betty"]
                       [9 "Lisa"]
                       [8 "Sandra"]
                       [8 "Helen"]
                       [8 "Ashley"]
                       [8 "Donna"]
                       [8 "Kimberly"]
                       [8 "Carol"]
                       [8 "Michelle"]
                       [7 "Emily"]
                       [7 "Amanda"]
                       [7 "Melissa"]
                       [7 "Deborah"]
                       [7 "Laura"]
                       [7 "Stephanie"]
                       [7 "Rebecca"]
                       [7 "Sharon"]
                       [7 "Cynthia"]
                       [7 "Kathleen"]
                       [6 "Ruth"]
                       [6 "Anna"]
                       [6 "Shirley"]
                       [6 "Amy"]
                       [6 "Angela"]
                       [6 "Virginia"]
                       [6 "Brenda"]
                       [5 "Pamela"]
                       [5 "Catherine"]
                       [5 "Katherine"]
                       [5 "Nicole"]
                       [5 "Christine"]
                       [5 "Janet"]
                       [5 "Debra"]
                       [5 "Samantha"]
                       [5 "Carolyn"]
                       [5 "Rachel"]
                       [5 "Heather"]
                       [5 "Maria"]
                       [5 "Diane"]
                       [5 "Frances"]
                       [5 "Joyce"]
                       [5 "Julie"]
                       [4 "Emma"]
                       [4 "Evelyn"]
                       [4 "Martha"]
                       [4 "Joan"]
                       [4 "Kelly"]
                       [4 "Christina"]
                       [4 "Lauren"]
                       [4 "Judith"]
                       [4 "Alice"]
                       [4 "Victoria"]
                       [4 "Doris"]
                       [4 "Ann"]
                       [4 "Jean"]
                       [4 "Cheryl"]
                       [4 "Marie"]
                       [4 "Megan"]
                       [4 "Kathryn"]
                       [4 "Andrea"]
                       [4 "Jacqueline"]
                       [4 "Gloria"]
                       [4 "Teresa"]
                       [4 "Janice"]
                       [4 "Sara"]
                       [3 "Rose"]
                       [3 "Hannah"]
                       [3 "Julia"]
                       [3 "Theresa"]
                       [3 "Judy"]
                       [3 "Grace"]
                       [3 "Beverly"]
                       [3 "Denise"]
                       [3 "Marilyn"]
                       [3 "Mildred"]
                       [3 "Amber"]
                       [3 "Danielle"]
                       [3 "Brittany"]
                       [3 "Olivia"]
                       [3 "Diana"]
                       [3 "Jane"]
                       [3 "Lori"]
                       [3 "Madison"]
                       [3 "Tiffany"]
                       [3 "Kathy"]
                       [3 "Tammy"]
                       [3 "Crystal"]]
  :male-first-names [[48 "James"]
                     [47 "John"]
                     [46 "Robert"]
                     [42 "Michael"]
                     [37 "William"]
                     [35 "David"]
                     [25 "Richard"]
                     [24 "Joseph"]
                     [22 "Charles"]
                     [21 "Thomas"]
                     [19 "Christopher"]
                     [18 "Daniel"]
                     [15 "Matthew"]
                     [13 "Donald"]
                     [13 "Anthony"]
                     [13 "Paul"]
                     [13 "Mark"]
                     [12 "George"]
                     [12 "Steven"]
                     [12 "Kenneth"]
                     [12 "Andrew"]
                     [11 "Edward"]
                     [11 "Joshua"]
                     [11 "Brian"]
                     [11 "Kevin"]
                     [10 "Ronald"]
                     [10 "Timothy"]
                     [10 "Jason"]
                     [9 "Jeffrey"]
                     [8 "Gary"]
                     [8 "Ryan"]
                     [8 "Nicholas"]
                     [8 "Eric"]
                     [8 "Jacob"]
                     [8 "Stephen"]
                     [8 "Jonathan"]
                     [8 "Larry"]
                     [7 "Frank"]
                     [7 "Scott"]
                     [7 "Justin"]
                     [7 "Brandon"]
                     [7 "Raymond"]
                     [7 "Gregory"]
                     [6 "Samuel"]
                     [6 "Benjamin"]
                     [6 "Patrick"]
                     [6 "Jack"]
                     [6 "Dennis"]
                     [6 "Jerry"]
                     [5 "Alexander"]
                     [5 "Tyler"]
                     [5 "Henry"]
                     [5 "Douglas"]
                     [5 "Peter"]
                     [5 "Aaron"]
                     [5 "Walter"]
                     [5 "Jose"]
                     [5 "Adam"]
                     [5 "Zachary"]
                     [5 "Harold"]
                     [5 "Nathan"]
                     [4 "Kyle"]
                     [4 "Carl"]
                     [4 "Arthur"]
                     [4 "Gerald"]
                     [4 "Roger"]
                     [4 "Lawrence"]
                     [4 "Keith"]
                     [4 "Albert"]
                     [4 "Jeremy"]
                     [4 "Terry"]
                     [4 "Joe"]
                     [4 "Sean"]
                     [4 "Willie"]
                     [3 "Jesse"]
                     [3 "Austin"]
                     [3 "Christian"]
                     [3 "Ralph"]
                     [3 "Billy"]
                     [3 "Bruce"]
                     [3 "Bryan"]
                     [3 "Roy"]
                     [3 "Eugene"]
                     [3 "Ethan"]
                     [3 "Louis"]
                     [3 "Wayne"]
                     [3 "Jordan"]
                     [3 "Harry"]
                     [3 "Russell"]
                     [3 "Alan"]
                     [3 "Juan"]
                     [3 "Philip"]
                     [3 "Randy"]
                     [3 "Dylan"]
                     [3 "Howard"]
                     [3 "Vincent"]
                     [3 "Bobby"]
                     [3 "Johnny"]
                     [3 "Phillip"]
                     [2 "Shawn"]]
  :last-names [[27 "Smith"]
               [22 "Johnson"]
               [19 "Williams"]
               [17 "Jones"]
               [17 "Brown"]
               [13 "Davis"]
               [11 "Miller"]
               [9 "Wilson"]
               [8 "Moore"]
               [8 "Taylor"]
               [8 "Anderson"]
               [8 "Thomas"]
               [8 "Jackson"]
               [7 "White"]
               [7 "Harris"]
               [7 "Martin"]
               [7 "Thompson"]
               [6 "Garcia"]
               [6 "Martinez"]
               [6 "Robinson"]
               [6 "Clark"]
               [6 "Rodriguez"]
               [6 "Lewis"]
               [6 "Lee"]
               [6 "Walker"]
               [5 "Hall"]
               [5 "Allen"]
               [5 "Young"]
               [5 "Hernandez"]
               [5 "King"]
               [5 "Wright"]
               [5 "Lopez"]
               [5 "Hill"]
               [5 "Scott"]
               [5 "Green"]
               [4 "Adams"]
               [4 "Baker"]
               [4 "Gonzalez"]
               [4 "Nelson"]
               [4 "Carter"]
               [4 "Mitchell"]
               [4 "Perez"]
               [4 "Roberts"]
               [4 "Turner"]
               [4 "Phillips"]
               [4 "Campbell"]
               [4 "Parker"]
               [3 "Evans"]
               [3 "Edwards"]
               [3 "Collins"]
               [3 "Stewart"]
               [3 "Sanchez"]
               [3 "Morris"]
               [3 "Rogers"]
               [3 "Reed"]
               [3 "Cook"]
               [3 "Morgan"]
               [3 "Bell"]
               [3 "Murphy"]
               [3 "Bailey"]
               [3 "Rivera"]
               [3 "Cooper"]
               [3 "Richardson"]
               [3 "Cox"]
               [3 "Howard"]
               [2 "Ward"]
               [2 "Torres"]
               [2 "Peterson"]
               [2 "Gray"]
               [2 "Ramirez"]
               [2 "James"]
               [2 "Watson"]
               [2 "Brooks"]
               [2 "Kelly"]
               [2 "Sanders"]
               [2 "Price"]
               [2 "Bennett"]
               [2 "Wood"]
               [2 "Barnes"]
               [2 "Ross"]
               [2 "Henderson"]
               [2 "Coleman"]
               [2 "Jenkins"]
               [2 "Perry"]
               [2 "Powell"]
               [2 "Long"]
               [2 "Patterson"]
               [2 "Hughes"]
               [2 "Flores"]
               [2 "Washington"]
               [2 "Butler"]
               [2 "Simmons"]
               [2 "Foster"]
               [2 "Gonzales"]
               [2 "Bryant"]
               [2 "Alexander"]
               [2 "Russell"]
               [2 "Griffin"]
               [2 "Diaz"]
               [2 "Hayes"]]
  :text-generation-models #{:apache-kafka
                            :business
                            :h2g2
                            :green
                            :metamorphosis}
  ;; source: https://github.com/mailcheck/mailcheck/wiki/list-of-popular-domains
  :domains {:default ["aol.com" "att.net" "comcast.net" "facebook.com"
                      "gmail.com" "gmx.com" "googlemail.com" "google.com"
                      "hotmail.com" "hotmail.co.uk" "mac.com" "me.com"
                      "mail.com" "msn.com" "live.com" "sbcglobal.net"
                      "verizon.net" "yahoo.com" "yahoo.co.uk"]
            :global ["email.com" "games.com" "gmx.net" "hush.com" "hushmail.com"
                     "inbox.com" "lavabit.com" "love.com" "pobox.com"
                     "rocketmail.com" "safe-mail.net" "wow.com" "ygm.com"
                     "ymail.com" "zoho.com" "fastmail.fm"]
            :us ["bellsouth.net" "charter.net" "cox.net" "earthlink.net"
                 "juno.com"]
            :uk ["btinternet.com" "virginmedia.com" "blueyonder.co.uk"
                 "freeserve.co.uk" "live.co.uk" "ntlworld.com" "o2.co.uk"
                 "orange.net" "sky.com" "talktalk.co.uk" "tiscali.co.uk"
                 "virgin.net" "wanadoo.co.uk" "bt.com"]
            :asia ["sina.com" "qq.com" "naver.com" "hanmail.net" "daum.net"
                   "nate.com" "yahoo.co.jp" "yahoo.co.kr" "yahoo.co.id"
                   "yahoo.co.in" "yahoo.com.sg" "yahoo.com.ph"]
            :fr ["hotmail.fr" "live.fr" "laposte.net" "yahoo.fr" "wanadoo.fr"
                 "orange.fr" "gmx.fr" "sfr.fr" "neuf.fr" "free.fr"]
            :de ["gmx.de" "hotmail.de" "live.de" "online.de" "t-online.de"
                 "web.de" "yahoo.de"]
            :ru ["mail.ru" "rambler.ru" "yandex.ru"]
            :be ["hotmail.be" "live.be" "skynet.be" "voo.be" "tvcablenet.be"]
            :ar ["hotmail.com.ar" "live.com.ar" "yahoo.com.ar" "fibertel.com.ar"
                 "speedy.com.ar" "arnet.com.ar"]
            :mx ["hotmail.com" "gmail.com" "yahoo.com.mx" "live.com.mx"
                 "yahoo.com" "hotmail.es" "live.com" "hotmail.com.mx"
                 "prodigy.net.mx" "msn.com"]}
  :markov-transition-counts {:testing {"" {"she" 1}
                                       "." {"i" 5
                                            "sometimes" 1
                                            "he" 2
                                            "she" 2}
                                       "he" {"is" 1}
                                       "she" {"is" 1}
                                       "is" {"happy" 10
                                             "sad" 3}
                                       "am" {"happy" 6
                                             "sad" 3
                                             "." 1}
                                       "sometimes" {"though" 3
                                                    "," 2
                                                    "i" 1}
                                       "though" {"i" 1
                                                 "," 10}
                                       "i" {"want" 5
                                            "am" 5}
                                       "want" {"something" 1}
                                       "happy" {"," 8
                                                "." 2}
                                       "," {"i" 1
                                            "happy" 9}
                                       "sad" {"." 7}
                                       "something" {"." 10}}}}}
